/out/production/projet/com/uvsqdebbahmehdi/Fraction.class
/out/production/projet/com/uvsqdebbahmehdi/Main.class
/out/
/projet.iml
/.idea/description.html
/.idea/misc.xml
/.idea/modules.xml
/.idea/project-template.xml
/.idea/runConfigurations.xml
/.idea/vcs.xml
/.idea/encodings.xml
/.idea/workspace.xml